<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <div class="col-md-4">
      <div class="row">
        Name
      </div>
    </div>
    <div class="col-md-8">
      <div class="row float-right">
        <!--  TODO: replace 0 with user id when logins are enabled -->
        <%= link_to "New Task" , new_user_task_path(0), {:id=>"new_task", :class=>"btn btn-info"} %>
      </div>
      <% @user_tasks.each do |task|%>
        <div class="row">
              <div class="well">
                <%= link_to task.title , user_task_path(0,task), {:id=>"task",:method=> "get"}%>
                <%= link_to "Delete", user_task_path(0,task) , {:class=> "btn btn-danger", :method=> :delete}%>
              </div>
        </div>
      <%end%>
    </div>
  </body>
</html>
